<footer
  class="flex flex-shrink-0 justify-center gap-x-8 pb-16 pt-8 text-lg underline underline-offset-2">
  <a href="mailto:nigel.troy1@gmail.com">Mail</a>
  <a href="https://linkedin.com/in/nigeltroy">LinkedIn</a>
  <a href="https://github.com/nigeltroy/nigeltroy.github.io">GitHub</a>
</footer>
