---
const pathName = Astro.url.pathname;
---

<header class="flex flex-col items-center justify-between gap-8 p-8 md:flex-row">
  <h1 class="text-center text-3xl font-extrabold">Nigel Roy</h1>
  <div class="flex flex-wrap justify-center gap-x-8 text-lg underline underline-offset-2">
    <a id="pages-about" href="/about">About</a>
    <a id="pages-resume" href="/resume">Resume</a>
    <a id="pages-tutoring" href="/tutoring">Tutoring</a>
  </div>
</header>

<script define:vars={{ pathName }}>
const page = pathName.replaceAll('/', '');
document
  .getElementById(`pages-${page}`)
  ?.classList.add('border-2', 'border-', 'border-neutral-800', 'dark:border-white');
</script>
