<header class="flex flex-col items-center justify-between gap-8 p-8 md:flex-row">
  <h1 class="text-center text-3xl font-semibold">
    <a href="/">Nigel Thomas Roy</a>
  </h1>
  <div
    class="flex flex-wrap justify-center gap-x-8 text-lg underline-offset-2 hover:[&_a]:underline">
    <a id="pages-resume" href="/resume">Resume</a>
  </div>
</header>
