<button
  id="theme-toggle-btn"
  class="absolute right-2 top-2 bg-neutral-800 px-0.5 py-1 text-xs text-white underline underline-offset-2">
  invert
</button>

<script>
  document.getElementById('theme-toggle-btn')?.addEventListener('click', function () {
    const newTheme = localStorage.theme === 'dark' ? 'light' : 'dark';
    localStorage.theme = newTheme;

    if (newTheme === 'dark') {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
  });
</script>
